---
import { type Work } from "../../core/types/PersonalData";
interface Props {
  item: Work;
}
const pathImages = "/assets/images/briefcase/";
const { item } = Astro.props;
const hrefActive = item.url.length > 0;
---

<div class="WorkItem">
  <a href="#">
    <img
      class="rounded-t-lg"
      src={pathImages + item.image}
      alt={item.title + " image"}
    />
  </a>
  <div class="WorkItem__detail">
    <h5 class="WorkItem__title">
      {item.title}
    </h5>
    <p class="WorkItem__status">Status: {item.status}</p>
    <p class="WorkItem__technologiesTitle">Technologies:</p>
    <div class="WorkItem__technologiesItems">
      {
        item.technologies.map((tech) => {
          return (
            <span class="mr-2 mb-3 border border-primary rounded-full grow-0 text-primary px-2 text-[0.8rem]">
              {tech}
            </span>
          );
        })
      }
    </div>
  </div>
  <div class="w-full flex items-center justify-center gap-x-3">
    {
      hrefActive && (
        <a
          href={item.url}
          target="_blank"
          class="btn-primary inline-flex items-center justify-center text-center w-[130px]"
        >
          Visit
        </a>
      )
    }

    {
      !hrefActive && (
        <span class="btn-primary btn-primary--disabled inline-flex items-center justify-center text-center w-[130px]">
          Visit
        </span>
      )
    }

    {
      item.publicCode && (
        <a
          href={item.codeUrl}
          target="_blank"
          class="btn-primary inline-flex items-center justify-center text-center px-4 w-[130px"
        >
          Visit the code
        </a>
      )
    }
  </div>
</div>

<style>
  .WorkItem {
    @apply max-w-sm border border-primary/30 rounded-lg shadow p-0 pb-5 mb-5 md:m-0 mx-auto flex flex-col justify-between overflow-hidden;

    &__detail {
      @apply p-5 grow flex flex-col;
    }

    &__title {
      @apply mb-0 text-lg font-bold tracking-tight;
    }

    &__status {
      @apply mb-3 mt-0;
      font-style: italic
    }

    &__technologiesItems {
      @apply text-wrap w-full overflow-hidden flex flex-wrap;
    }
  }
</style>
