---
import { Image } from "astro:assets";
import Section from "../Shared/Section.astro";
import personalData from "../../core/data/personalData";
import profileImg from "../../assets/images/profile.jpg";
import "./_About.scss";
const index = 1;
const title = "About Me";
const idTag = "About";
---

<Section index={index} title={title} idTag={idTag}>
  <div class="AboutMe">
    <div class="AboutMe__text">
      <h5>{personalData.titleLongPresentation}</h5>
      {personalData.longPresentation.map((p) => <p>{p}</p>)}
    </div>
    <div class="AboutMe__pictureBox">
      <picture class="AboutMe__pictureBox__picture">
        <Image
          src={profileImg}
          alt={personalData.shortname + " Profile Image"}
        />
        <div class="AboutMe__pictureBox__picture__filter"></div>
      </picture>
    </div>
  </div>
</Section>
