---
/* Components */
import Section from "../Shared/Section.astro";

/* Types */
import { type MenuItem } from '../../core/models/MenuItem.interface';

/* Utils */
import { getLangFromUrl } from '../../i18n/utils';
import { translate, translateMenu } from '../../i18n/translate'

const lang = getLangFromUrl(Astro.url)
const personalData = translate(lang)
const menuItems: MenuItem[] = translateMenu(lang)

const profileImg = "assets/images/profile/alex-coronell.png";
const index = 1;
const title = menuItems[index-1].name
const idTag = menuItems[index-1].url;
import "./_About.scss";
---

<Section index={index} title={title} idTag={idTag}>
  <div class="AboutMe">
    <div class="AboutMe__text">
      <h5>{personalData.titleLongPresentation}</h5>
      {personalData.longPresentation.map((p) => <p>{p}</p>)}
    </div>
    <div class="AboutMe__pictureBox">
      <picture class="AboutMe__pictureBox__picture">
        <img src={profileImg}
          alt={personalData.shortname + " Profile Image"}
        />
       <!--  <div class="AboutMe__pictureBox__picture__filter"></div> -->
      </picture>
    </div>
  </div>
</Section>
