---
import Section from "../Shared/Section.astro";
import personalData from "../../core/data/personalData";
const { experiences } = personalData;
const index = 4;
const title = "Experiences";
const idTag = "Experiences";
---

<Section index={index} title={title} idTag={idTag}>
  <experiences-div class="Experiences" data-experiences={experiences}>
    <div class="Experiences__business">
      {
        experiences.map((item, index) => (
          <button
            class="Experiences__business__button"
            id={item.business + "-btn-" + index}
          >
            {item.business}
          </button>
        ))
      }
    </div>
  </experiences-div>
</Section>

<style>
  .Experiences {
    &__business {
      @apply flex flex-wrap gap-2;
      &__button {
        @apply py-3 px-2 hover:bg-white/10;
      }
    }
  }
</style>

<script is:inline>
  class ExperiencesDiv extends HTMLElement {
    constructor() {
      super();
      const experiences = this.dataset.experiences;
      const buttons = document.getElementsByClassName("Experiences__business__button");
      console.log(buttons);
      buttons.addEventListener("click", this.loadData());
    }
    loadData = () => {
        return
        //console.log();
      };
  }
  customElements.define('experiences-div', ExperiencesDiv);
</script>
