---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/fira-mono';
import '@fontsource/rajdhani';
// Supports weights 100-900
import '@fontsource-variable/outfit';

import '../styles/main.scss';
import personalData from "../core/data/personalData";

interface Props {
  title: string;
  location: string;
}

const { title, location } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta name="locale" content="en_US" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="site_name" content={personalData.site} />
    <meta name="author" content={personalData.shortname} />
    <meta name="url" content={location} />
    <meta name="description" content="Fullstack Developer in Angular, NestJS and more" />
    <meta name="keywords" content="HTML, CSS, Javascript, Git, Typescript, Angular, React, Astro, Linux, NestJS, NodeJS, Bootstrap, Sass, Tailwind, jQuery" />
    <link rel="canonical" href={location} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="”robots”" content="”index," follow” />
    <!-- Open Graph -->
    <meta property="og:locale" content="en_US" />
    <meta property="”og:type”" content="”website”" />
    <meta property="og:site_name" content={personalData.site} />
    <meta property="”og:title”" content={title} />
    <meta property="og:url" content={location} />
    <meta property="”og:description”" content="Fullstack Developer in Angular, NestJS and more" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    body {
      @apply bg-primary-dark min-h-screen w-full;
    }
  }

  /* Specials */
  .transitionAc {
    @apply transition-all duration-500;
  }
  .blurFilter {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
  }

  /************************** Buttons **************************/
  .btn-primary {
    @apply border border-primary px-5 py-3 text-center lg:m-auto 
    hover:bg-primary hover:text-primary-dark transition-all duration-300 hover:shadow-primary/40 hover:shadow-lg;
  }
</style>
